<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Refresh" content="5">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Muzak Karma Status</h1>
    {% for email, factor in table %}
    <div>
      <hr>
      <h2>{{ email }}</h2>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ factor * 100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ factor * 100 }}%;">
          <span class="sr-only">{{ factor * 100 }}% Complete</span>
        </div>
      </div>
    </div>
    {% endfor %}
    <hr>
    <h1>♫ {{ song_name }} <small>now playing</small></h1>
  </div>
</body>
</html>
